# Android Emulator: http://10.0.2.2:3000/api
# iOS Simulator: http://localhost:3000/api
# HP fisik: ganti dengan IP LAN komputer, contoh http://192.168.1.10:3000/api
EXPO_PUBLIC_API_URL=http://10.0.2.2:3000/api
